# Node / JS
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# Tests / coverage
coverage/
.nyc_output/
reports/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Homey build artefacts (pas utiles au repo)
.homeybuild/
.homeycompose/flow/preview/

# Misc
*.local.*
